.container {
  width: 100%;
}

swiper-container {
  width: 100%;
}

swiper-slide {
  opacity: 0;
  transition: opacity 200ms ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

swiper-slide img {
  display: block;
  width: 100%;
}

swiper-slide button {
  display: none;
}

.slide {
  position: relative;
}

.swiper-slide-active {
  opacity: 1;
}

.swiper-slide-active button {
  display: block;
}

.swiper-slide-prev,
.swiper-slide-next {
  opacity: 0.5;
}

.button {
  width: 32px;
  height: 32px;
  object-fit: contain;
  border-radius: 52%;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.previous-button {
  position: absolute;
  top: 50%;
  left: -16px;
  transform: translateY(-50%) rotate(-180deg);
}

.next-button {
  position: absolute;
  top: 50%;
  right: -16px;
  transform: translateY(-50%);
}

.icon {
  width: 11px;
  height: 19px;
  object-fit: contain;
}

