<div class="container">
  <swiper-container
    class="mySwiper"
    pagination="false"
    effect="coverflow"
    grab-cursor="true"
    centered-slides="true"
    slides-per-view="3"
    coverflow-effect-rotate="0"
    coverflow-effect-stretch="0"
    coverflow-effect-depth="100"
    coverflow-effect-scale="0.8"
    coverflow-effect-modifier="1"
    coverflow-effect-slide-shadows="false"
    space-between="10"
    initial-slide="1"
    autoplay-delay="2500"
  >
    <swiper-slide id="pokemon" *ngFor="let pokemon of pokemons">
      <button id="previous-button" class="button previous-button" (click)="prevSlide()">
        <img src="assets/arrow.svg" alt="Pokemon anterior" class="icon">
      </button>

      <app-pokemon-card
        [name]="pokemon.name"
        [code]="pokemon.code"
        [image]="pokemon.image"
        [height]="pokemon.height"
        [weight]="pokemon.weight"
      ></app-pokemon-card>

      <button id="next-button" class="button next-button" (click)="nextSlide()">
        <img src="assets/arrow.svg" alt="Próximo Pokemon" class="icon">
      </button>
    </swiper-slide>
  </swiper-container>
</div>

