<div [class]="alwaysSmall ? 'card-container always-small' : 'card-container'">
  <div class="row">
    <span id="name" class="name">{{ name }}</span>
    <span id="code" class="info code">#{{ code }}</span>
  </div>

  <img id="pokemon-image" [src]="image" [alt]="name" class="pokemon-image">

  <div class="row">
    <span class="label">Altura:</span>
    <span id="height" class="info">{{ height }}cm</span>
  </div>

  <div class="row">
    <span class="label">Peso:</span>
    <span id="weight" class="info">{{weight.toFixed(1)}}kg</span>
  </div>
</div>
