/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

* {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --white-1: #ffffff;
  --white-2: #F8F8F8;
  --black: #000000;
  --grey: #9BA4B5;
  --blue-color-1: #2F3E77;
  --blue-color-2: #233674;
  --primary-color: #EA686D;

  --input-bg-color: var(--white-1);
  --input-text-color: var(--black);
  --input-placeholder-color: var(--grey);
  --button-text-color: var(--white-1);

  --pokemon-card-bg: var(--white-1);
  --pokemon-title-color: var(--blue-color-2);
  --pokemon-info-color: var(--blue-color-2);
  --pokemon-label-color: var(--blue-color-2);
}

body {
  background-color: var(--white-2);
}

@media(min-width: 1250px) {
  body {
    width: 1402px;
    margin: 0 auto;
  }
}

