/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

* {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --white-1: #ffffff;
  --white-2: #F8F8F8;
  --black: #000000;
  --grey-1: #9BA4B5;
  --grey-2: #DBDFEA;
  --grey-3: #D2E9E9;
  --grey-4: #E3F4F4;
  --blue-color-1: #2F3E77;
  --blue-color-2: #233674;
  --blue-color-3: #1D267D;
  --blue-color-4: #19A7CE;
  --blue-color-5: #AEE2FF;
  --blue-color-6: #49D0B0;
  --orange: #F7802A;
  --brown: #A4907C;
  --red: #F45050;
  --green-1: #A4D0A4;
  --green-2: #617143;
  --green-3: #539165;
  --green-4: #C4F789;
  --purple-1: #A459D1;
  --purple-2: #5C469C;
  --purple-3: #635985;
  --yellow: #F7DB6A;
  --peach: #FFD3B0;
  --dark: #27374D;
  --pink: #FFB4B4;
  --primary-color: #EA686D;

  --input-bg-color: var(--white-1);
  --input-text-color: var(--black);
  --input-placeholder-color: var(--grey);
  --button-text-color: var(--white-1);

  --pokemon-card-bg: var(--white-1);
  --pokemon-title-color: var(--blue-color-2);
  --pokemon-info-color: var(--blue-color-2);
  --pokemon-label-color: var(--blue-color-2);

  --type-unkown-color: var(--grey-1);
  --type-normal-color: var(--brown);
  --type-fighting-color: var(--red);
  --type-flying-color: var(--grey-2);
  --type-poison-color: var(--green-1);
  --type-ground-color: var(--green-2);
  --type-rock-color: var(--grey-3);
  --type-bug-color: var(--purple-1);
  --type-ghost-color: var(--purple-2);
  --type-steel-color: var(--grey-4);
  --type-fire-color: var(--orange);
  --type-water-color: var(--blue-color-4);
  --type-grass-color: var(--green-3);
  --type-electric-color: var(--yellow);
  --type-psychic-color: var(--purple-3);
  --type-ice-color: var(--blue-color-5);
  --type-dragon-color: var(--peach);
  --type-dark-color: var(--dark);
  --type-fairy-color: var(--pink);
  --type-shadow-color: var(--blue-color-3);

  --health-color: var(--green-4);
  --defense-color: var(--orange);
  --velocity-color: var(--blue-color-6);
  --atack-color: var(--primary-color);
}

body {
  background-color: var(--white-2);
}

@media(min-width: 1360px) {
  body {
    width: 1360px;
    margin: 0 auto;
  }
}

