.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media(min-width: 1100px) {
  .header {
    justify-content: flex-start;
    padding-left: 105px;
  }
}

.logo {
  width: 110px;
  object-fit: contain;
  margin-top: 30px;
  padding-right: 25px;
}

@media(min-width: 1100px) {
  .logo {
    padding-right: 0;
  }
}

.content {
  width: 100%;
  padding: 0 32px;
}

@media(min-width: 1100px) {
  .content {
    padding: 0 76px;
  }
}

.explore-pokemons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

@media (min-width: 1100px) {
  .explore-pokemons {
    flex-direction: row;
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@media (min-width: 1100px) {
  .text-container {
    width: 450px;
  }
}

.list-container {
  width: 100%;
  margin-top: 40px;
}

.title {
  width: 286px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 39px;
  color: var(--blue-color-1);
  margin-top: 50px;
}

.title span {
  color: var(--primary-color);
}

@media(min-width: 1100px) {
  .title {
    width: 450px;
    font-size: 55px;
    line-height: 60px;
    margin-top: 20px;
  }
}

.description {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--blue-color-1);
  margin-top: 10px;
}

@media(min-width: 1100px) {
  .description {
    font-size: 25px;
    line-height: 30px;
    margin-top: 24px;
  }
}

.search-input {
  width: 100%;
  margin-top: 10px;
}

@media (min-width: 1100px) {
  .search-input {
    margin-top: 31px;
  }
}

.laptop-banner {
  display: none;
}

@media(min-width: 1100px) {
  .laptop-banner {
    display: unset;
    width: 100%;
    height: 299px;
    object-fit: contain;
  }
}

@media(min-width: 1360px) {
  .laptop-banner {
    display: none;
  }
}

.desktop-pokemons-slider-container {
  display: none;
}

@media(min-width: 1360px) {
  .desktop-pokemons-slider-container {
    display: block;
    width: 838px;
    height: 368.5px;
  }
}

.mobile-pokemons-slider-container {
  width: 100%;
  height: 328.5px;
}

@media(min-width: 1100px) {
  .mobile-pokemons-slider-container {
    display: none;
  }
}

.most-wanted {
  display: flex;
  flex-direction: column;
}

@media(min-width: 1100px) {
  .most-wanted {
    margin-top: 38px;
  }
}

.subtitle {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: var(--blue-color-1);
  margin-bottom: 10px;
}

.mobile-most-wanted-list-container {
  width: 100%;
  height: 328.5px;
}

@media(min-width: 1100px) {
  .mobile-most-wanted-list-container {
    display: none;
  }
}

.desktop-most-wanted-list-container {
  display: none;
}

@media(min-width: 1100px) {
  .desktop-most-wanted-list-container {
    width: 100%;
    display: block;
  }
}
